:root {
    /* Text */

    --text-very-dark-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);

    --text-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-grayish-blue: hsl(240, 6%, 50%);

    /* Background Gradient */

    --bg-soft-violet: hsl(273, 75%, 66%);
    --bg-soft-blue: hsl(240, 73%, 65%);

    /* Dividers */

    --divider-grayish-blue: hsl(240, 5%, 91%);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: rgb(101,101,231);
    background: linear-gradient(0deg, rgba(101,101,231,1) 30%, rgba(175,103,233,1) 90%);

    display: flex;
}

/* BODY CONTAINER */
.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* WHITE CARD */
.container-card {
    width: 80%;
    height: auto;
    min-height: 500px;
    max-width: 1024px;

    background-color: white;
    border-radius: 20px;

    -webkit-box-shadow: 0px 20px 24px 0px rgba(0,0,0,0.24); 
    box-shadow: 0px 20px 24px 0px rgba(0,0,0,0.24);

    display: flex;
    position: relative;
}

.container-card .cube {
    overflow:visible;
    position: absolute;
    top: 209px;
    left: -90px;

    z-index: 2;
}

.container-card .card-image {
    width: 45%;
    position: relative;
    overflow: hidden;
}

.card-image .woman-img {
    position: absolute;
    top: 70px;
    left: -75px;

    z-index: 1;
}

.card-image .bg-pattern {
    position: absolute;
    top: -291px;
    left: -543px

}

.container-card .card-faq {
    width: 55%;

    padding-right: 40px;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-faq .faq-title h1 {
    margin: 70px 0 30px 0;

    font-size: 2rem;
    font-weight: 700;
}

.card-faq .faq-item {
    border-bottom: 1px solid var(--divider-grayish-blue);
    margin-bottom: 25px;
    
    display: flex;
    flex-direction: column;
}

.faq-item .faq-question {
    display: flex;
    justify-content: space-between;
}

.faq-item .faq-question .arrow img{
    width: 12px;
}

.faq-item .faq-question h2 {
    color: var(--text-dark-grayish-blue);
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.faq-item .faq-question:hover h2, .faq-question {
    color: var(--text-soft-red);
    cursor: pointer;
}

.faq-item .faq-answer {
    max-height: 0;
    overflow: hidden;
    
    transition: max-height 0.2s ease-out;

}

.faq-item .faq-answer p {
    color: var(--text-grayish-blue);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
    margin-right: 20px;
}

@media (max-width: 1100px) {

    .container {
        height: auto;
        min-height: 100vh;

        align-items: center;
        justify-content: flex-start;
    }

    .container-card {
        flex-direction: column;

        width: 90%;
        max-width: 550px;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .container-card .cube {
        display: none;
    }

    .container-card .card-image {
        width: 100%;
        height: 50px;
        position: relative;
        overflow: visible;
    }

    .card-image .woman-img {
        position: relative;
        top: -100px;
        left: 120px;
        content: url("./images/illustration-woman-online-mobile.svg");
    }
    
    .card-image .bg-pattern {
        display: none;
    
    }

    .card-faq .faq-title {
        text-align: center;
    }



    .container-card .card-faq {
        width: 100%;
    }
}

@media (max-width: 620px) {


    .container-card {
        max-width: 300px;
    }

    .card-image .woman-img {
        position: relative;
        top: -100px;
        left: 10px;
    }

    .faq-item .faq-question h2 {
        font-size: 1rem;
    }
}

@supports (-moz-appearance:none) {
    @media (max-width: 1100px) {
        
        .card-image {
            display: none;
        }

        .card-image .woman-img{
            display: none;
        }
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 20px 0;
    color: var(--divider-grayish-blue);
 }
.attribution a { color: var(--text-soft-red); }